<html>
    <head>
        <title>Details of project {{analysis.project.name}}</title>
    </head>

    <body>
        <h1>{{analysis.project.name}} - Details</h1>
        <h2>Last execution: {{analysis.date_executed_for_humans}}</h2>
        <ul>
            <li>Pep8 - {{analysis.pep8}} erros</li>
            <li>PyFlakes - {{analysis.pyflakes}} erros</li>
            <li>CloneDigger - {{analysis.clonedigger}}%</li>
            <li>JSHint - {{analysis.jshint}} erros</li>
            <li>CSSLint - {{analysis.csslint}} erros</li>
        </ul>

    </body>
</html>