<!DOCTYPE>
<html>
    <head>
        <title>Details of project {{analysis.project.name}}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/static/css/details.css">

        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/highcharts.js"></script>
    </head>

    <body class="container-fluid">
        <header class="row-fluid">
            <h1 class="span10">{{analysis.project.name}} - Details</h1>
            <div class="span2 btn-analyse">
                <button class="btn btn-success">Analyze Project</button>
            </div>
        </header>

        <div class="row-fluid info-execution">
            <p class="span12">
                <span>Last execution:</span> {{analysis.date_executed_for_humans}}
            </p>
        </div>

        <ul class="row-fluid errors">
            <li class="span2">
                <span>Pep8</span>{{analysis.pep8}} erros
            </li>
            <li class="span2">
                <span>PyFlakes</span>{{analysis.pyflakes}} erros
            </li>
            <li class="span2">
                <span>CloneDigger</span>{{analysis.clonedigger}}%
            </li>
            <li class="span2">
                <span>JSHint</span>{{analysis.jshint}} erros
            </li>
            <li class="span2">
                <span>CSSLint</span>{{analysis.csslint}} erros
            </li>
            <li class="span2">
                <span>Total</span>98
            </li>
        </ul>

        <div id="chart"></div>
    </body>
    <script type="text/javascript">
        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                title: {
                    text: 'Monthly Average Temperature',
                    x: -20 //center
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ this.y +'°C';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 100,
                    borderWidth: 0
                },
                series: [{
                    name: 'Tokyo',
                    data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                }]
            });
        });
    </script>
</html>
