.btn-analyse {
    text-align: right;
}

.btn-analyse .btn {
    margin-top: 20px;
}

.info-execution span {
    font-weight: bold;
}

ul.errors {
    margin-left: 0;
    border-top: 4px dashed #ddd;
    border-bottom: 4px dashed #ddd;
    padding: 20px 0;
}

ul.errors li.span2 {
    display: block;
    height: 60px;
    border: 1px solid #DDD;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    background-color: #f7f7f7;
}

ul.errors li.span2 span {
    display: block;
    font-weight: bold;
    font-size: 16px;
}
